/* 
    Templates Names     : FighterOs Store
    Author name         : Ahmed Abd El-Ghany
    Author Email        : fighteros121212@gmail.com
    Theme url           : localhost/Ecommerce PHP
    Theme version       : 1.0
*/


/* root vars */

:root {
    --color: #333333;
    --background: #f0f0f0;
    --header-color: #555555;
}