/* main Rules*/

body {
    background-color: #f4f4f4;
}


/* Login Form */

.login {
    width: 300px;
    margin: 100px auto;
}

.login h4 {
    color: #888;
    margin-bottom: 50px;
}

.login input {
    margin-bottom: 10px;
}

.login .form-control {
    background-color: #eaeaea;
}

.login .btn {
    background-color: #0088dd;
    margin-top: 15px;
}

/* navBar Edits */

.navbar {
    border-radius: 0;
    margin-bottom: 0;
}
.nav-link,
.navbar-brand {
    padding: 11px 15px;
}

.navbar-brand {
    font-size: 1em;
}


.dropdown-item {
    border-radius: .5em;
}

.dropdown-item:hover {
    background: #3498db;
    font-size: 1em;
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    /* color: #fff; */
    color: #3498db;
}
@media (min-width: 992px){
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1em;
        padding-left: 1em;
        border-radius: 1em;
        margin-left: 2px;
    }
}

/* Members Page */

.form-control {
    position: relative;
}

.asterisk {
    font-size: 11px;
    position: absolute;
    right: 30px;
    top: 11px;
    color: #d20787;
}

.page-title {
    font-size: 55px;
    margin: 40px 0;
    font-weight: bold;
    color: #888;
}

@media (min-width :728px) {
    .form-edit {
        margin: 20px 100px;
    }

}


