/* 
    Templates Names     : FighterOs Store
    Author name         : Ahmed Abd El-Ghany
    Author Email        : fighteros121212@gmail.com
    Theme url           : localhost/Ecommerce PHP
    Theme version       : 1.0
*/


/* root vars */

:root {
    --color: #333333;
    --background: #f0f0f0;
    --header-color: #555555;
}


/* General Style */

body {
    font-size: 14px;
    line-height: 1.42857143;
    color: var(--color);
    background: var(--background);
    overflow-x: hidden;
}


/* top */

.top {
    background: var(--header-color);
    padding: 10px 0;
}

.top .offer {
    color: #ffffff;
}

.top .offer .btn {
    text-transform: uppercase;
}


/*  make top offer div responsive */

@media (max-width: 991px) {
    .top .offer {
        margin-bottom: 10px;
    }
}


/* make top all responive */

@media (max-width: 991px) {
    .top {
        font-size: 12px;
        text-align: center;
    }
}

.top a {
    color: #fff;
}

.top ul.menu {
    padding-top: 5px;
    margin: 0px;
    text-align: right;
    font-size: 12px;
    list-style: none;
}


/* make the list it self responsive */

@media (max-width: 991px) {
    .top ul.menu {
        text-align: center;
    }
}

.top ul.menu>li {
    display: inline-block;
}

.top ul.menu>li a {
    color: #eeeeee;
}

.top ul.menu>li+li:before {
    content: "|\00a0";
    color: #f7f7f7;
    padding: 0 5px;
}